/* latin-ext */
@font-face {
    font-family: 'MedievalSharp';
    font-style: normal;
    font-weight: 400;
    src: local('MedievalSharp'), url(../font/latin-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'MedievalSharp';
    font-style: normal;
    font-weight: 400;
    src: local('MedievalSharp'), url(../font/latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
    background-image: url("../res/background/paper.jpg");
}

.isolate {
    background-color: black;
    isolation: isolate;
}


.background-frame {
    position: relative;
    border-top: 90px solid;
    border-bottom: 135px solid;
    border-left: 135px solid;
    border-right: 135px solid;
    border-image: url("../res/background/frame_background.gif") ;
    /*background-blend-mode: multiply;*/
    mix-blend-mode: multiply;
    border-image-repeat: round;
    border-image-slice:  90 135 130 135;


}

.img-frame {
    border-top: 10px solid;
    border-bottom: 10px solid;
    border-left: 10px solid;
    border-right: 10px solid;
    border-image: url("../res/background/pattern.jpg") ;
    border-image-repeat: round;
    border-image-slice:  20;


}


.black-frame{
    border-top: 10px solid;
    border-bottom: 10px solid;
    border-left: 10px solid;
    border-right: 10px solid;
    border-image: url("../res/background/frame_black.png") ;
    border-image-repeat: round;
    border-image-slice:  19;


}

.title-container {
    background-repeat: no-repeat;
    background-size:contain;

}

.bio-container {
    background-repeat: repeat;
    background-size:contain;
}

.bio-content {
    background-repeat: repeat;
    background-size:contain;
    background-color: white;
}

.bio-img {
    border: 1px solid black;
    max-width: 100%;
    height: auto;
}



.project-img {
    max-width: 100%;
    position: relative;
    z-index: 2;
}


.project-container {
    background-repeat: repeat;
    background-size:contain;
    border: 5px transparent;
    background-color: white;

}

.project-container-child {
    background-repeat: repeat;
    background-size:contain;
    border: 5px transparent;
}



.medieval-font{
    font-family: MedievalSharp;
    font-style: normal;
}


.normal-font-paragraph{
    font-family: "Times New Roman";
    font-style: normal;
}

p::first-letter {
    color: orangered;
    float: top;
    font-size: 200%;
    font-weight: 900;
}
p {
    border-top: 1px solid black;
    line-height: 200%;
}

.icon-in-btn:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
}

.icon-in-btn{
    color: black;
    background-color: white;
    border-color: #6c757d;
    margin: 2px;
    mix-blend-mode: luminosity;
}

.icon-in-btn:hover{
    color: red;
    background-color: papayawhip;
    border-color: #6c757d;
    margin: 2px;
    mix-blend-mode: inherit;

}

.icon-email:before{
    background-image : url(../res/icon/email.png);
}
.icon-linkedin:before{
    background-image : url(../res/icon/linkedin.png);
}
.icon-github:before{
    background-image : url(../res/icon/github.png);
}

.icon-play:before{
    background-image : url(../res/icon/play.png);
}

.head_text{
    font-size: 40px;

}

.name_text{
    font-size: 30px;
}
.default_text{
    font-size: 18px;
}

.btn-translation-border{
    border-top: 10px solid;
    border-bottom: 10px solid;
    border-left: 5px solid;
    border-right: 5px solid;
    border-image: url("../res/background/btn.png") ;
    border-image-repeat: round;
    border-image-slice:  50;
    border-image-width: 25px;
}

.btn-translation {
    color: black;
    font-size: 16px;
}

.btn-translation:hover {
    background-color: papayawhip;
}

.btn-translation:focus, .btn-translation.focus {
    color: black;
    box-shadow: 0 0 0 0.2rem transparent;
    font-weight: bold;
    background-color: papayawhip;
}

.btn-translation.disabled, .btn-translation:disabled {
    color: black;
    background-color: gray;
}

.btn-translation:not(:disabled):not(.disabled):active, .btn-translation:not(:disabled):not(.disabled).active,
.show > .btn-head.dropdown-toggle {
    color: red;
}

.btn-translation:not(:disabled):not(.disabled):active:focus, .btn-translation:not(:disabled):not(.disabled).active:focus,
.show > .btn-translation.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem transparent;
}